# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# OS / IDE
.DS_Store
.vscode/

# Secrets (NEVER COMMIT)
.streamlit/secrets.toml
.env

# Logs (keep folder but ignore files)
logs/*
!logs/.gitkeep